.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#logo-link
{
  display: flex;
  flex-direction: row;
  align-items: center;
  color:#b8c7ce;
  text-decoration: none;
}

#navBarContainer{
  display: flex;
  background-color: #263575; 
  align-items: center;
  gap: 70vw
}

#navBarRoutingOptions{
  margin-left: 2vw;
}

@media screen and (max-width: 700px) {
  #App-banner-logo{
    position: absolute;
    top: 1vh;
    right: 1vw;
  }
}

#App-banner-logo {
  height: 8vh;
  padding: 0px;
  padding-right: 2%;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
}

#vicText
{
  /* VIC Jam */

height: 35px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 145%;
/* identical to box height, or 35px */
display: flex;
align-items: center;
letter-spacing: -0.02em;
text-decoration: none;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;

}


#headerRoutingOptions{
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 2vw
}

#sponsorButton
{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
  font-family: 'Open Sans';
  font-size: 14px;
}

#signupButton
{
  background: white;
	color: #263575;
	border: none;
	padding: 5%;
  width: 5vw;
	cursor: pointer;
	outline: inherit;
  border-radius: 12px;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 14px;
}

#footerRoutingOptions a:link{
  color:#b8c7ce

}

#footerRoutingOptions a:visited{
  color:#b8c7ce

}
#footerRoutingOptions{
  align-items: flex-end;
}

#footer{
  display: flex;
  background-color: #263575; 
  vertical-align: bottom;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
