#timer
{
    background-color: #263575;  
    color: #57809e;
    padding-bottom: 15px;
}
.show-counter
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 80px;
    line-height: 1.75rem;
    margin: 30px;
    text-decoration: none;
    color: #b8c7ce;
    background-color: #57809e;
}

.show-counter .countdown {
    line-height: 1.25rem;
    padding: 0 0.75rem 0 0.75rem;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .show-counter .countdown > p {
    margin: 0;
  }
  
  .show-counter .countdown > span {
    text-transform: uppercase;
    font-size: 50px;
    line-height: 100px;
  }