#timer
{
    padding-bottom: 15px;
    margin-bottom: 2%;
    color: #263575;
}
.show-counter
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 80px;
    line-height: 1.75rem;
    margin: 30px;
    text-decoration: none;

}

.show-counter .countdown {
    line-height: 1.25rem;
    padding: 0 0.75rem 0 0.75rem;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .show-counter .countdown > p {
    margin: 0;
  }
  
  .show-counter .countdown > span {
    text-transform: uppercase;
    font-size: 50px;
    line-height: 100px;
  }