/*This is bad and possibly illegal, we should really use a license but I did this for testing purposes.*/
@font-face {
  font-family: "Neulis Neue";
  src: url(Fonts/Neulis-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Neulis Neue";
  font-weight: semibold;
  src: url(Fonts/Neulis-SemiBold.otf) format("opentype");
}

@font-face {
  font-family: "Open Sans";
  src: url(Fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  src: url(Fonts/OpenSans-Bold.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Neulis Neue', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
