#lastYear
{
    /* Last Year */

display: flex;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
/* or 43px */
letter-spacing: -0.02em;
box-sizing: content-box;
color: #000000;
margin-bottom: 0px;

}

#text
{
    /* Play the games, watch the results */
display: flex;
font-family: 'Open Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
/* identical to box height, or 29px */
letter-spacing: -0.005em;
margin-top: 1vh;
color: rgba(0, 0, 0, 0.55);

}

#lastYearText
{
    /* Text */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
margin-left: 3%;
justify-content: center;
height: auto;
}