#parent
{
    display: flex;
}

#text-side
{
    flex: 30%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3%;
}

#logo-side
{
    flex: 70%;
}

#pitch-logo
{
    height: 300px;
    width: auto;
}

#pitchHeader
{

width: 512px;
height: 186px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 110%;
/* or 62px */
display: flex;
align-items: center;
text-align: left;
letter-spacing: -0.02em;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

#pitchText
{

width: 512px;
height: 140px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 145%;
/* or 35px */
display: flex;
text-align: left;
letter-spacing: -0.005em;

color: rgba(0, 0, 0, 0.55);


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

#buttonDiv
{
/* Buttons */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
align-content: flex-start;
padding: 0px;
gap: 16px;

width: 240px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}

#signup
{
/* Primary button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;
gap: 8px;

width: 99px;
height: 50px;

background: #000000;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Sign Up */

font-family: 'Open Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 145%;
/* or 26px */
color: #FFFFFF;


}

#secondary
{

/* Secondary button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;
gap: 8px;

width: 125px;
height: 50px;

border: 2px solid rgba(0, 0, 0, 0.15);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Secondary */

font-family: 'Open Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 145%;
/* or 26px */
color: #000000;

}