#sponsorshipPitch
{
    display: flex;
    margin-top: 5%;
    margin-bottom: 2%;
    align-items: center;
}

#sponsorText
{
    flex: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}

#sponsorImage
{
    display: flex;
    flex: 50%;
    justify-content: flex-start;
}

#sponsorHeader
{

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 110%;
margin-right: 5vw;
/* or 62px */
display: flex;
align-items: center;
text-align: left;
letter-spacing: -0.02em;

color: #000000;
}

#sponsorBody
{
font-family: 'Open Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 145%;
text-align: left;
margin-right: 5vw;
/* or 35px */
display: flex;
align-items: center;
letter-spacing: -0.005em;

color: rgba(0, 0, 0, 0.55);
}

#sponsorButtons
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    padding: 0px;
    gap: 16px;
}

#Donate
{
    /* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;
gap: 8px;

width: 99px;
height: 50px;

background: #000000;
border-radius: 12px;



/* Sign Up */

font-family: 'Open Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 145%;
/* or 26px */
color: #FFFFFF;
}

#Benefits
{
box-sizing: border-box;
background-color: #FFFFFF;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 18px;
gap: 10px;

width: 145px;
height: 50px;

border: 2px solid rgba(0, 0, 0, 0.15);
border-radius: 12px;


/* Secondary */

font-family: 'Open Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 145%;
/* or 26px */
color: #000000;

}