#sponsorshipPitch
{
    display: flex;
    margin-top: 5%;
    margin-bottom: 2%;
    align-items: center;
    
}


#sponsorText
{  
    /* Content */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 120px 64px;
    gap: 32px;

    width: 640px;
    height: 672px;
    background-image: linear-gradient(to bottom, #f5b365, #f49a66);
}

#sponsorImage
{
    /* Content */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 84px;
    gap: 32px;

    width: 640px;
    height: 672px;


}

#sponsorHeader
{

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 110%;
margin-right: 5vw;
/* or 62px */
display: flex;
align-items: center;
text-align: left;
letter-spacing: -0.02em;
margin-bottom: 0;

color: #000000;
}

#sponsorBody
{
font-family: 'Open Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 145%;
text-align: left;
margin-right: 5vw;
/* or 35px */
display: flex;
align-items: center;
letter-spacing: -0.005em;
margin-top: 0;

color: rgba(0, 0, 0, 0.55);
}

#sponsorButtons
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    padding: 0px;
    gap: 16px;
}

#Donate
{
    /* Auto layout */
/* Primary button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;
gap: 8px;

width: 94px;
height: 50px;

background: #FFFFFF;
border-radius: 12px;
border: none;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;




/* Sign Up */

font-family: 'Open Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 145%;
/* or 26px */
color: #000000;
}

#Benefits
{
box-sizing: border-box;
background-color: inherit;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 18px;
gap: 10px;

width: 145px;
height: 50px;

border: 1px solid rgba(255, 255, 255, 0.70);
border-radius: 12px;


/* Secondary */

font-family: 'Open Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 145%;
/* or 26px */
color: #FFFFFF;

}

